:root {
  --dark-bg: #fff8f0; /* 溫暖的米白背景 */
  --container-bg: #fdf2e2; /* 較深的暖米色 */
  --primary-accent: #f0ad4e; /* 柔和的橘色 */
  --secondary-accent: #e9e9e9; /* 溫暖的淺灰色 */
  --text-color: #5a4639; /* 深棕色文字 */
  --error-color: #e46464; /* 柔和的紅色 */
  --hint-color: #9d8f86; /* 暖灰色提示文字 */
}

body {
  margin: 0;
  background-color: var(--dark-bg);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  height: 100vh;
}